langchain
openai
BeautifulSoup4
playwright
lxml
html2text
unstructured
selenium
pyyaml
pandas
nltk
matplotlib
seaborn
spacy
ragas
langchain_experimental
faiss-cpu
cohere
audio_recorder_streamlit
streamlit-feedback
faker
fastapi[uvicorn]
uvicorn
python-multipart
langchain-anthropic
twilio
sinch
pyqrcode
qrcode
langchainhub
python-dotenv
